<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#each breadcrumbs}}
        {{#if url}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                {{#if @index '>' 0}}
                    <svg class="icon"><use xlink:href="#icon-ih-arrow-right"></use></svg>
                {{/if}}
                <a data-instantload href="{{url}}" class="breadcrumb-label" itemprop="item" title="{{name}}">
                    {{#if @index '===' 0}}
                        <!-- <svg class="icon"><use xlink:href="#icon-ih-small-home"></use></svg> -->
                        <p>Home</p>
                    {{/if}}
                    <span itemprop="name">{{name}}</span>
                    <meta itemprop="position" content="{{@index}}" />
                </a>
            </li>
        {{else}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                <svg class="icon"><use xlink:href="#icon-ih-arrow-right"></use></svg>
                <span class="breadcrumb-label">{{name}}</span>
            </li>
        {{/if}}
    {{/each}}
</ul>
