<div class="sidebarBlock sidebarBlock--verticalCategories">
    <div class="papathemes-navPages-verticalCategories-container">
        <a class="navPages-action has-subMenu" data-collapsible="papathemes-verticalCategories-sidebar"
            data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open"
            data-collapsible-enabled-state="closed">{{category.name}}</a>
        <div class="papathemes-verticalCategories papathemes-verticalCategories--open" id="papathemes-verticalCategories-sidebar" aria-hidden="false" tabindex="-1">
            <ul class="navPages-list navPages-list--categories">
                {{#each subcategories}}
                    <li class="navPages-item navPages-item--standard">
                        {{> components/common/navigation-list idSuffix='-sidebar' theme_settings=../theme_settings category=../category menu_type='standard'}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
