// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
//
// -----------------------------------------------------------------------------

// papathemes-beautify deleted .header

.header-logo {
    font-size: 0;   // 1
    margin: 0; // papathemes-beautify
    text-align: center;

    @include breakpoint("medium") {
        // papathemes-beautify
        padding: 0;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    > a {
        color: $storeName-color;
        text-decoration: none;

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;   // 1
    font-weight: fontWeight("bold");
    letter-spacing: remCalc(2px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        margin-left: 0;
        margin-right: -(remCalc(2px)); // 3
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image-container {
    position: relative;
}

.header-logo-image-container:after {
    content: '';
    display: block;
    //padding-bottom: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        //padding-bottom: if(stencilString("logo_size") != 'original', get-padding(stencilString('logo_size')), 50px);
    }
}

.header-logo-image {
    @include lazy-loaded-img;
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

.header-logo-image-unknown-size { // 5
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

// papathemes-beautify deleted .mobileMenu-toggle
