// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
//
// -----------------------------------------------------------------------------

@import "settings/supermarket/global";

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 3

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4

@import "settings/papathemes/papathemes";


// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "utilities/papathemes/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";

// Fonts
// -----------------------------------------------------------------------------

@import "fonts/fonts";

// papathemes added 3rd-party icons
// @import "../../node_modules/font-awesome/scss/font-awesome";
@import "vendor/font-awesome/font-awesome";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "components/components"; // 3


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1

@import "vendor/jstree/style";
@import "vendor/jstree/style-supermarket";

@import "beautify/theme";

.productView-related .slick-slide img:hover{
    border:1px solid #999;
}
.productView-related .slick-slide img{
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius:0px;
}
.productView-related .productCarousel-slide.slick-slide
{
    width: 70px !important;
    padding: 0px;
}
.productView-related .slick-dotted.slick-slider{
    margin-bottom:0px;
}
.productView-related .slick-slide article.card{

    display: block;
    border-radius:0px;
    background: none;
}
.productView-related .slick-slide .card-figure{
    background: none;

}

// added custom.scss file by KamleshY
@import "custom.scss";

// added custom1.scss file for UI Developer
@import "custom1.scss";
