// =============================================================================
// ICONS (Settings)
// =============================================================================


$exportCSS--icons:              true;

$icon-color:                    stencilColor("icon-color");
$icon-color-hover:                    stencilColor("icon-color-hover"); // papathemes-beautify
$icon-size:                     16px;
