.brandGrid {
    .brand {
        padding: spacing("quarter");

        @include breakpoint("medium") {
            padding: $column-gutter / 2;
        }

        .card {
            border: container("border");
            border-radius: $global-radius;
            padding: spacing("half");
            margin: 0;
            grid-template-rows: min-content auto;
        }
        .card-body {
            display: block;
        }
    }
}
