@mixin beautify__container {
    @include breakpoint("medium") {
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        padding: 0 $container-padding;
        width: layout("fixed");                                                                                             
    }
    @include breakpoint("large") {
        max-width: remCalc(1170) + ($container-padding * 2);
        padding: 0 $container-padding;
    }
    @include breakpoint("xxlarge") {
        max-width: layout("max") + ($container-padding * 4);
        padding: 0 $container-padding * 2;
    }
}

@mixin ih__slick-arrows() {
    // .slick-next:before {
    //     background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2220px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2020%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22product-page%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22product_page_desktop%22%20transform%3D%22translate%28-923.000000%2C%20-943.000000%29%22%20fill%3D%22%231A1A1A%22%3E%3Cg%20id%3D%2202-Icons-%2F-24x24-%2F-ic24-arrow-left%22%20transform%3D%22translate%28933.000000%2C%20951.000000%29%20scale%28-1%2C%201%29%20translate%28-933.000000%2C%20-951.000000%29%20translate%28914.000000%2C%20932.000000%29%22%3E%3Cpath%20d%3D%22M17.7902954%2C11.3871006%20L17.7071068%2C11.2928932%20C17.3466228%2C10.9324093%2016.7793918%2C10.9046797%2016.3871006%2C11.2097046%20L16.2928932%2C11.2928932%20L9.29289322%2C18.2928932%20L9.2514958%2C18.336853%20L9.2514958%2C18.336853%20L9.19633458%2C18.4046934%20L9.19633458%2C18.4046934%20L9.12467117%2C18.5159379%20L9.12467117%2C18.5159379%20L9.07122549%2C18.628664%20L9.07122549%2C18.628664%20L9.03584514%2C18.734007%20L9.03584514%2C18.734007%20L9.00690716%2C18.8819045%20L9.00690716%2C18.8819045%20L9%2C19%20L9.00278786%2C19.0752385%20L9.00278786%2C19.0752385%20L9.02024007%2C19.2007258%20L9.02024007%2C19.2007258%20L9.04973809%2C19.3121425%20L9.04973809%2C19.3121425%20L9.09367336%2C19.4232215%20L9.09367336%2C19.4232215%20L9.14599545%2C19.5207088%20L9.14599545%2C19.5207088%20L9.21968877%2C19.625449%20L9.21968877%2C19.625449%20L9.29289322%2C19.7071068%20L16.2928932%2C26.7071068%20C16.6834175%2C27.0976311%2017.3165825%2C27.0976311%2017.7071068%2C26.7071068%20C18.0675907%2C26.3466228%2018.0953203%2C25.7793918%2017.7902954%2C25.3871006%20L17.7071068%2C25.2928932%20L12.416%2C20%20L28%2C20%20C28.5522847%2C20%2029%2C19.5522847%2029%2C19%20C29%2C18.4477153%2028.5522847%2C18%2028%2C18%20L12.414%2C18%20L17.7071068%2C12.7071068%20C18.0675907%2C12.3466228%2018.0953203%2C11.7793918%2017.7902954%2C11.3871006%20L17.7071068%2C11.2928932%20L17.7902954%2C11.3871006%20Z%22%20id%3D%22Icon-Color%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    // }
    // .slick-prev:before {
    //     background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2221px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2021%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22product-page%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22product_page_desktop%22%20transform%3D%22translate%28-379.000000%2C%20-943.000000%29%22%20fill%3D%22%231A1A1A%22%3E%3Cg%20id%3D%2202-Icons-%2F-24x24-%2F-ic24-arrow-left%22%20transform%3D%22translate%28371.000000%2C%20932.000000%29%22%3E%3Cpath%20d%3D%22M17.2902954%2C11.3871006%20L17.2071068%2C11.2928932%20C16.8466228%2C10.9324093%2016.2793918%2C10.9046797%2015.8871006%2C11.2097046%20L15.7928932%2C11.2928932%20L8.79289322%2C18.2928932%20L8.7514958%2C18.336853%20L8.7514958%2C18.336853%20L8.69633458%2C18.4046934%20L8.69633458%2C18.4046934%20L8.62467117%2C18.5159379%20L8.62467117%2C18.5159379%20L8.57122549%2C18.628664%20L8.57122549%2C18.628664%20L8.53584514%2C18.734007%20L8.53584514%2C18.734007%20L8.50690716%2C18.8819045%20L8.50690716%2C18.8819045%20L8.5%2C19%20L8.50278786%2C19.0752385%20L8.50278786%2C19.0752385%20L8.52024007%2C19.2007258%20L8.52024007%2C19.2007258%20L8.54973809%2C19.3121425%20L8.54973809%2C19.3121425%20L8.59367336%2C19.4232215%20L8.59367336%2C19.4232215%20L8.64599545%2C19.5207088%20L8.64599545%2C19.5207088%20L8.71968877%2C19.625449%20L8.71968877%2C19.625449%20L8.79289322%2C19.7071068%20L15.7928932%2C26.7071068%20C16.1834175%2C27.0976311%2016.8165825%2C27.0976311%2017.2071068%2C26.7071068%20C17.5675907%2C26.3466228%2017.5953203%2C25.7793918%2017.2902954%2C25.3871006%20L17.2071068%2C25.2928932%20L11.916%2C20%20L27.5%2C20%20C28.0522847%2C20%2028.5%2C19.5522847%2028.5%2C19%20C28.5%2C18.4477153%2028.0522847%2C18%2027.5%2C18%20L11.914%2C18%20L17.2071068%2C12.7071068%20C17.5675907%2C12.3466228%2017.5953203%2C11.7793918%2017.2902954%2C11.3871006%20L17.2071068%2C11.2928932%20L17.2902954%2C11.3871006%20Z%22%20id%3D%22Icon-Color%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    // }
    @include breakpoint("medium") {
        .slick-prev {
            left: -(spacing("half"));
        }
        .slick-next {
            right: -(spacing("half"));
        }
    }
    @include breakpoint("large") {
        .slick-prev {
            left: -40px;
        }
        .slick-next {
            right: -40px;
        }
    }
}

%ih__slick-arrows {
    @include ih__slick-arrows();
}

.u-hideMobile {
    @media (max-width: screenSize("small") - 1px) {
        display: none !important;
    }
}

.u-hideTablet {
    @media (min-width: screenSize("small")) and (max-width: screenSize("medium") - 1px) {
        display: none !important;
    }
}

.u-hideDesktop {
    @include breakpoint("medium") {
        display: none !important;
    }
}

@mixin beautify__fixFontBaselineShift() {
    @if ($theme-body-font-baseline-shift) {
        &:before {
            content: '';
            display: block;
            height: $theme-body-font-baseline-shift;
        }
    }
}

@mixin beautify__sectionPageHeading() {
    color: stencilColor("section-heading-color");
    text-transform: stencilString("section-heading-transform");
    text-align: stencilString("section-heading-align");
    margin-bottom: spacing("single");
    @media (max-width: screenSize("medium") - 1px) {
        font-size: stencilNumber("section-heading-fontSize-mobile");
    }
    @include breakpoint("medium") {
        font-size: stencilNumber("section-heading-fontSize");
    }
}
