
@include breakpoint("medium") {
	.navUser {
		display: flex;
		align-items: center;
		position: static;
	}
}

.navUser-or {
	vertical-align: middle;
	padding: 0 spacing("quarter");
}


.navUser-item--compare {
    display: block;
}

.navUser-action--compare {
	display: none;

	&.show {
		display: block;
		position: fixed;
		bottom: calc(-100vh + 150px);
		right: 0;
		padding: spacing("half") spacing("single");
		color: stencilColor("button--primary-color");
		background-color: stencilColor("button--primary-backgroundColor");

		&:hover,
		&:focus {
			color: stencilColor("button--primary-colorHover");
			background-color: stencilColor("button--primary-backgroundColorHover");
		}

		@include breakpoint("medium") {
			bottom: 0;
		}
	}
}


.navUser-item-icon {
	font-size: remCalc(26px);
	display: inline-block;
	padding-right: spacing("half");

	@include breakpoint("medium") {
		font-size: remCalc(20px);

		&:before {
			vertical-align: middle;
		}
	}
}

.navUser-item-cartIcon {
	padding-right: 0;

	@include breakpoint("medium") {
		padding-right: spacing("half");
	}
}

.countPill--alt {
    background-color: stencilColor("navUser-indicator-backgroundColor");
    color: color("whites", "bright");
}

.navUser-item--cart {
	.dropdown-menu.is-open {
		margin-top: spacing("base");
	}

	.dropdown-menu:not(.is-loading) {
		width: auto;
		max-width: none;
	}

	.previewCart {
		width: 300px; // papathemes-beautify added
		@include breakpoint("medium") {
			width: remCalc(400);
		}
	}

	.navUser-action {
		position: relative;
	}
}

.dropdown--quickSearch {
	padding: 0;
	margin: 0 auto;
	width: layout("fixed");

	@include breakpoint("medium") {
        padding: 0 $container-padding;
    }

    @include breakpoint("large") {
    	max-width: remCalc(1170);
    }

    @include breakpoint("xxlarge") {
    	max-width: layout("max");
    }
	
	&.is-open {
		z-index: zIndex("high") - 5; // lower than sticky header

		+ .papathemes-overlay {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: zIndex("high") - 10;
		}
	}

	> .container {
		position: relative;
		padding: 0;
	}

	.modal-close {
		color: $color-textSecondary;
		top: 0;
		right: 0;

		@include breakpoint("medium") {
			right: -($container-padding);
		}
	}

	.productGrid {
		padding: 0;
		margin: 0;
	}
	
	&.is-open {
		.modal-close {
			display: block;
		
			@media (max-width: screenSize("medium") - 1px) {
				position: fixed;
				top: auto;
				bottom: 0;
				background-color: container("fill", "dark");
			}
		}
	}
}

