.socialLinks {
	font-size: 0;

	.socialLinks-item {
		margin: 0 spacing("quarter") 0 0;

		&:last-child {
			margin-right: 0;
		}
	}
	.icon {
		width: spacing("quarter") * 2 + lineHeight("base") * fontSize("base");
		height: spacing("quarter") * 2 + lineHeight("base") * fontSize("base");
		padding: spacing("third");
		background-color: stencilColor('icon-backgroundColor');

		&:hover,
		&:focus {
			background-color: stencilColor('icon-backgroundColor-hover');

		}
	}

	.icon--google_plusone {
		padding-top: 0;
		padding-bottom: 0;
		display: inline-flex !important;
		align-items: center;
		width: 52px !important;
		display: none;
	}
}

.socialLinks--dark {
	.socialLinks-item {
		margin: 0;
	}
	
	.icon {
		background-color: stencilColor('icon-backgroundColor-hover');

		&:hover,
		&:focus {
			background-color: stencilColor('icon-backgroundColor');

		}
	}
}


.socialLinks--alt {
	.icon {
		background-color: stencilColor('icon--alt-backgroundColor');

		svg {
			fill: stencilColor("icon--alt-color");
		}

		&:hover,
		&:focus {
			background-color: stencilColor('icon--alt-backgroundColor-hover');

			svg {
				fill: stencilColor("icon--alt-color-hover");
			}
		}
	}
}

// Fix Facebook like button
.socialLinks-item--facebook_like .icon {
	width: auto;
}

.socialLinks-item--facebook_like {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;

	iframe {
		position: static !important;
	}
}

// Social Links on Footer
// ----------------------------------------------------------------------------
.footer {
	.socialLinks .icon {
		background-color: transparent;

		svg {
			fill: stencilColor("footer-linkColor");
		}

		&:hover svg {
			fill: stencilColor("footer-linkColor-hover");
		}
	}
}

// Fix social icons messy on product page
// ----------------------------------------------------------------------------

.google_plusone_iframe_widget {
    width: 38px !important;
    height: 24px !important;
}

.fb_iframe_widget + .fb_iframe_widget {
    display: none;
}

.addthis_button_facebook_like.icon--facebook_like > svg {
    display: none;
}

.addthis_button_facebook_like.icon--facebook_like {
	width: auto !important;
	overflow: hidden !important;
	padding-top: remCalc(6px);
}

