// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    font-size: fontSize("large");
    margin: 0 spacing("single") spacing("quarter");

    a {
        text-decoration: none;
    }
}
h1.blog-title {
    font-size: fontSize("largest");
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: center;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("smaller");
    text-align: left;
}

.blog-thumbnail {
    margin: 0 auto (spacing("base") * 2);
    position: relative;
    max-width: get_width(stencilString('blog_size'));
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;

    // papathemes-beautify deleted
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    // papathemes-beautify deleted
}
