$icomoon-font-path: "../fonts" !default;

$papathemes-icon-elegant-search: "\55";
$papathemes-icon-elegant-gift: "\e008";
$papathemes-icon-elegant-bag: "\e013";
$papathemes-icon-elegant-cart: "\e015";
$papathemes-icon-ui-head-phone: "\ed3a";
$papathemes-icon-listing-box: "\eeb8";
$papathemes-icon-location-pin: "\f051";
$papathemes-icon-linear-inbox: "\e914";
$papathemes-icon-linear-phone-handset: "\e915";
$papathemes-icon-linear-heart: "\e916";
$papathemes-icon-linear-map-marker: "\e917";
$papathemes-icon-linear-bus: "\e918";
$papathemes-icon-cart3: "\e919";
$papathemes-icon-linear-user: "\e91a";
$papathemes-icon-linear-banknote: "\e911";
$papathemes-icon-credit-card: "\e90f";
$papathemes-icon-coin-dollar: "\e910";
$papathemes-icon-compare: "\e906";
$papathemes-icon-cart2: "\e90d";
$papathemes-icon-gift: "\e904";
$papathemes-icon-present: "\e02f";
$papathemes-icon-linear-magnifier: "\e913";
$papathemes-icon-linear-cart: "\e912";
$papathemes-icon-search3: "\e90a";
$papathemes-icon-heart: "\e90b";
$papathemes-icon-login: "\e90c";
$papathemes-icon-bag: "\e909";
$papathemes-icon-sign-in: "\e900";
$papathemes-icon-heart-o: "\e901";
$papathemes-icon-search2: "\e902";
$papathemes-icon-shopping-bag: "\e903";
$papathemes-icon-compare_arrows: "\e90e";
$papathemes-icon-search: "\e907";
$papathemes-icon-shopping_cart: "\e908";
$papathemes-icon-cart: "\e905";

