<!DOCTYPE html>
<html amp class="no-js" lang="{{ locale_name }}">
    <head>
        <meta charset="utf-8">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Karla:400|Montserrat:400" rel="stylesheet">
        {{#block "amp-style"}} {{/block}}
        {{!-- Theme settings: --}}
        {{~inject 'add_to_cart_popup' theme_settings.add_to_cart_popup}}
        {{~inject 'redirect_cart' theme_settings.redirect_cart}}
        {{~inject 'alsobought_thumbnail_size' theme_settings.alsobought_thumbnail_size}}
        {{~inject 'pdp_price_label' theme_settings.pdp-price-label}}
        {{~inject 'pdp_sale_price_label' theme_settings.pdp-sale-price-label}}
        {{~inject 'pdp_non_sale_price_label' theme_settings.pdp-non-sale-price-label}}
        {{~inject 'pdp_retail_price_label' theme_settings.pdp-retail-price-label}}
        {{~inject 'alsobought_checked' theme_settings.alsobought_checked}}
        {{~inject 'homepage_show_carousel' theme_settings.homepage_show_carousel}}
        {{~inject 'product_new_count' theme_settings.product_new_count}}
        {{~inject 'product_featured_count' theme_settings.product_featured_count}}
        {{~inject 'product_top_count' theme_settings.product_top_count}}
        {{~inject 'homepage_blog_posts_count' theme_settings.homepage_blog_posts_count}}
        {{~inject 'product_recently_viewed' theme_settings.product_recently_viewed}}
        {{~inject 'sidebar_shop_by_brand' theme_settings.sidebar_shop_by_brand}}
        {{~inject 'productpage_videos_count' theme_settings.productpage_videos_count}}
        {{~inject 'productpage_reviews_count' theme_settings.productpage_reviews_count}}
        {{~inject 'productpage_related_products_count' theme_settings.productpage_related_products_count}}
        {{~inject 'productpage_similar_by_views_count' theme_settings.productpage_similar_by_views_count}}
        {{~inject 'categorypage_products_per_page' theme_settings.categorypage_products_per_page}}
        {{~inject 'brandpage_products_per_page' theme_settings.brandpage_products_per_page}}
        {{~inject 'categorypage_search' theme_settings.categorypage_search}}
        {{~inject 'categorypage_search_subs' theme_settings.categorypage_search_subs}}
        {{~inject 'instantload' theme_settings.instantload}}
        {{~inject 'navPages_animation' theme_settings.navPages_animation}}
        {{~inject 'show_bulk_order_mode' theme_settings.show_bulk_order_mode}}
        {{~inject 'swatch_option_display_type' theme_settings.swatch_option_display_type}}
        {{~inject 'zoom_size' theme_settings.zoom_size}}
        {{~inject 'product_size' theme_settings.product_size}}
        {{~inject 'product_image_responsive' theme_settings.product_image_responsive}}
        {{!-- // --}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        {{#if settings.amp_analytics_id}}
            <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        {{/if}}
        {{#block "amp-scripts"}}{{/block}}
    </head>
    <body>
        {{#block "page"}} {{/block}}
    </body>
</html>
