// COMMON SECTIONS
// ============================================================================

%papathemes-section-page-heading {
	font-size: fontSize("largest");
	text-align: left;
	margin: 0 0 spacing("half");

	@include breakpoint("medium") {
		font-size: fontSize("larger");
		padding: spacing("half") 0;
		display: inline-block;
		border-bottom: 2px solid color("primary");
		text-align: center;
		
		@if $theme-style == "compact" {
			margin: 0 0 spacing("single");
		}
		@else {
			margin: 0 0 spacing("double");
		}

		&:after {
			content: ' ';
			display: block;
			font-size: 0;
			height: 0;
			border-top: container("border");
			position: absolute;
			width: 100%;
			margin-top: spacing("half") + remCalc(2px);
		}
	}
}

.papathemes-sections-group {
	display: inline;
}

.papathemes-section {
	@if $theme-style == "compact" {
		padding: spacing("half") 0;
	}
	@else {
		padding: spacing("single") 0;
	}
}

.papathemes-section-inner {
	position: relative;

	> .page-heading {
		@extend %papathemes-section-page-heading;
	}
}

.papathemes-section--alt {
	background-color: container("fill", "dark");

	@include breakpoint("medium") {
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.papathemes-section-inner {
		@extend %papathemes-container;
	}
}



// SECTION 1
// ============================================================================
.container--papathemes-section1-fullwidth.container,
.container--papathemes-section1-stretch.container {
	padding: 0;
	margin: 0;
	max-width: none;
}

.papathemes-section1 {
	margin-top: 0;
}

.papathemes-section1--fullwidth,
.papathemes-section1--stretch {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.papathemes-section1-socials {
	display: none;
}

.papathemes-section1-top {
	@include breakpoint("medium") {
		display: flex;
		align-items: center;
		padding: spacing("quarter") 0;
		background: $body-bg;

		.papathemes-section1-hotNews {
			flex: 1;
		}

		.papathemes-section1-socials {
			display: block;
			flex: 0;
			white-space: nowrap;
			padding-left: spacing("single");
		}
	}
}
