<div class="papathemes-productsFilter {{#or category.faceted_search_enabled brand.faceted_search_enabled product_results.faceted_search_enabled}}papathemes-productsFilter--faceted{{/or}}">
    <form class="actionBar" id="papathemes-productsFilter-form" method="get" data-sort-by>
        {{> components/beautify/grid-list}}
        {{> components/beautify/shop-by-price-horizontal shop_by_price=category.shop_by_price category_url=category.url}}
        {{> components/category/sort-box sort=sort}}
        {{> components/category/products-per-page products_per_page=products_per_page}}
        <a href="#" class="button _filters-toggle" data-toggle="sidebar-top">{{lang 'search.faceted.filters'}}</a>
    </form>
</div>
